<!-- The content below is only a placeholder and can be replaced. -->
<div
  class="modal"
  id="ContactUsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ContactUsModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <img
              src="assets/cfs-landing_files/0_3323_ChFS_S.gif"
              class="img-responsive logo"
              alt=""
            />
          </div>
          <div class="col-sm-7 col-xs-12">
            <h3 style="margin:20px 0 0;font-size:20px;font-weight:600">
              Need to contact us?
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <ul
              style="padding:1em 0 0 0.375em;margin:0;list-style-type:none;line-height:2;font-size:14px"
              class="hidden-xs"
            >
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>Instantly</strong> Access Your Credit Score
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>Secure</strong> Online Delivery
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>No</strong> Credit Card Required
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>See</strong> Score In Under 60 Seconds
              </li>
            </ul>
          </div>
          <div class="col-sm-7 col-xs-12">
            <p>
              We're always here to help! Please call our friendly, knowledgeable
              customer service representatives today at:
            </p>
            <h3
              class="phonenumber"
              style="font-weight:600;margin:10px 0 15px;font-size:26px;color:#2A4A95"
            >
              (855) 506-9160
            </h3>
            <h4 style="font-weight:600;font-size:16px">
              It's our goal to provide the best possible membership experience!
            </h4>
            <p>Need to mail us something? Please address to:</p>
            <p style="margin-bottom:0">
              CheckFreeScore.com<br />RE: Customer Service
            </p>
            <p>5100 Buckeystown Pike, Suite 250<br />Frederick, MD 21704</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 logo">
        <img
          src="assets/cfs-landing_files/0_3323_ChFS_S.gif"
          class="img-responsive logo"
          alt=""
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
        <!--
          <img src="./images/three-bureaus-logos-new.png" alt="" class="bureaus img-responsive">
        -->
        <img
          src="assets/cfs-landing_files/badge.png"
          alt=""
          class="img-responsive visible-xs"
        />
        <img
          class="img-responsive bureaus hidden-xs"
          alt=""
          src="assets/cfs-landing_files/tui-logo.png"
        />
      </div>
    </div>
  </div>
</div>
<div class="cont1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="text-center">
          Get Your
          <span style="color:#00bbd3;font-weight:300">Free Credit Score</span
          ><br />
        </h1>
        <h2 class="text-center">
          from <span>TransUnion</span>: No Credit Card Required!
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="cont3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopaddingright">
        <div class="leftcont">
          <!--
            <img src="./images/left.jpg" class="img-responsive img-right hidden-xs hidden-sm" alt="">
          -->

          <img
            class="spr-left img-right hidden-xs hidden-sm"
            alt=""
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASoAAADyAQMAAADA7hqaAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACBJREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAAAAAAAAeDSTeAAHU6F0HAAAAAElFTkSuQmCC"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopaddingleftright">
        <div class="formcont">
          <!-- <img src="./images/badge.png" class="badge hidden-xs" alt=""> -->
          <img
            class="spr-badge onemillionbadge hidden-xs"
            alt=""
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF8AAABUAQMAAADeRXl1AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABJJREFUeNpjYBgFo2AUjALyAQAERAABz6K4cgAAAABJRU5ErkJggg=="
          />
          <!-- <img src="./images/arrow.png" alt="" class="arrow"> -->
          <img
            class="spr-arrow arrow hidden-xs"
            alt=""
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABOAQMAAABFb+nTAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABBJREFUeNpjYBgFo2AUgAAAAwwAAYYaqw4AAAAASUVORK5CYII="
          />
          <form
            method="post"
            action="https://www.checkfreescore.com/index.asp?guid=example12345&amp;tGUID=1CA31C23-729D-4F7F-ACF3-57D4DDE4C4E4"
            name="form"
            id="theForm"
            novalidate="novalidate"
          >
            <input type="hidden" name="fs_address" id="fs_address" value="" />
            <input type="hidden" name="fs_city" id="fs_city" value="" />
            <input type="hidden" name="fs_state" id="fs_state" value="" />
            <input type="hidden" name="fs_phone" id="fs_phone" value="" />

            <legend>Start Here</legend>
            <div class="form-group">
              <label for="fs_firstname" class="visible-xs">First Name:</label>
              <input
                autofocus=""
                type="text"
                id="fs_firstname"
                name="fs_firstname"
                value=""
                onkeypress="return isNotNumberKey(event)"
                class="form-control"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <label for="fs_lastname" class="visible-xs">Last Name:</label>
              <input
                type="text"
                id="fs_lastname"
                name="fs_lastname"
                value=""
                onkeypress="return isNotNumberKey(event)"
                class="form-control"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <label for="fs_email" class="visible-xs">Email:</label>
              <input
                type="text"
                id="fs_email"
                name="fs_email"
                value=""
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="fs_zip" class="visible-xs">Zip Code:</label>
              <input
                type="text"
                id="fs_zip"
                name="fs_zip"
                onkeypress="return isNumberKey(event);"
                value=""
                maxlength="5"
                class="form-control"
                placeholder="Zip Code"
              />
            </div>
            <input
              type="hidden"
              id="fs_authToMarket"
              name="fs_authToMarket"
              value="1"
            />
            <div class="form-group">
              <label for="authtomarket" class="authtomarket">
                <input
                  type="checkbox"
                  id="authtomarket"
                  name="authtomarket"
                  checked=""
                  onclick="document.getElementById(&#39;fs_authToMarket&#39;).value = (this.checked) ? 1 : 0;"
                />
                Yes, please send special offers from CheckFreeScore.com and
                partners to my email.
              </label>
            </div>
            <div class="form-group">
              <button class="scores" type="submit">
                Your Score - Now
                <span
                  class="glyphicon glyphicon-play-circle"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
            <div class="row visible-xs">
              <div class="col-xs-6">
                <a
                  href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=checkfreescore.com&amp;lang=en"
                  onclick="window.open(&#39;https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=checkfreescore.com&amp;lang=en&#39;,&#39;vs&#39;,&#39;menubar=no,scrollbars=1,height=500,width=550&#39;);return false;"
                  ><!--
                    <img src="./images/verisign.png" class="verisign img-responsive pull-right" alt="">
                  --><img
                    class="spr-verisign verisign pull-right"
                    alt=""
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGoAAAA0AQMAAABYaz9TAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABBJREFUeNpjYBgFo2AUgAAAAwwAAYYaqw4AAAAASUVORK5CYII="
                /></a>
              </div>
              <div class="col-xs-6">
                <a
                  target="_blank"
                  href="https://www.mcafeesecure.com/RatingVerify?ref=checkfreescore.com"
                  title="Click to Verify - McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams"
                  ><!--
                    <img src="./images/mcafee.png" class="mcafee img-responsive" alt="">
                  --><img
                    class="spr-mcafee mcafee"
                    alt=""
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAAqAQMAAAAAr376AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFowAfAAACIgABQnvRqAAAAABJRU5ErkJggg=="
                /></a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopaddingleft benefitscontmobile"
      >
        <div class="rightcont">
          <h5>Benefits</h5>
          <div class="inner">
            <ul>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>Instantly</strong> Access Your Credit Score
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>Secure</strong> Online Delivery
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>No</strong> Credit Card Required
              </li>
              <li>
                <img
                  class="spr-icon"
                  alt=""
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYKAOAAAASAABEEXv0gAAAABJRU5ErkJggg=="
                />
                <strong>See</strong> Score In Under 60 Seconds
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cont4 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a
          href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=checkfreescore.com&amp;lang=en"
          onclick="window.open(&#39;https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=checkfreescore.com&amp;lang=en&#39;,&#39;vs&#39;,&#39;menubar=no,scrollbars=1,height=500,width=550&#39;);return false;"
          ><!--
            <img src="./images/verisign.png" class="verisign img-responsive pull-right" alt="">
          --><img
            class="spr-verisign verisign pull-right"
            alt=""
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGoAAAA0AQMAAABYaz9TAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABBJREFUeNpjYBgFo2AUgAAAAwwAAYYaqw4AAAAASUVORK5CYII="
        /></a>
      </div>
      <div class="visible-xs col-xs-6">
        <!--
          <img src="./images/mcafee.png" class="mcafee img-responsive" alt="">
        -->
        <img
          class="spr-mcafee mcafee"
          alt=""
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAAqAQMAAAAAr376AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFowAfAAACIgABQnvRqAAAAABJRU5ErkJggg=="
        />
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopaddingleftright">
        <h5 class="text-center">
          Checking your credit will not harm your score
        </h5>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
        <a
          target="_blank"
          href="https://www.mcafeesecure.com/RatingVerify?ref=checkfreescore.com"
          title="Click to Verify - McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams"
          ><!--
            <img src="./images/mcafee.png" class="mcafee img-responsive" alt="">
          --><img
            class="spr-mcafee mcafee"
            alt=""
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAAqAQMAAAAAr376AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFowAfAAACIgABQnvRqAAAAABJRU5ErkJggg=="
        /></a>
      </div>
    </div>
  </div>
</div>
<div class="cont5 hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <!--
          <img src="./images/search.jpg" class="img-responsive hidden-sm hidden-xs" alt="">
        -->
        <img
          class="spr-search hidden-sm hidden-xs"
          alt=""
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACXAQMAAABEC6dtAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABpJREFUeNrtwQEBAAAAgiD/r25IQAEAAADcGhEbAAF+yaElAAAAAElFTkSuQmCC"
        />
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h5>Why do I need to check my Credit Score?</h5>
        <p>
          A good credit score is your passport to competitive interest rates for
          mortgages, cars, credit card offers, job offers, insurance premiums
          and more. A strong score is worth money because it saves you in excess
          costs.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!--
          <img src="./images/search.jpg" class="img-responsive visible-sm visible-xs search" alt="">
        -->
        <img
          class="spr-search visible-sm visible-xs search"
          alt=""
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACXAQMAAABEC6dtAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABpJREFUeNrtwQEBAAAAgiD/r25IQAEAAADcGhEbAAF+yaElAAAAAElFTkSuQmCC"
        />
        <!--
          <img src="./images/sample-scores.jpg" class="img-responsive scores" style="display:inline-block" alt="">
        -->
        <img
          class="spr-sample-scores scores"
          alt=""
          style="display:inline-block"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS0AAACWAQMAAACxV0yvAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwQENAAAAwqD3T20ON6AAAAAAAODJABbaAAFmMAvYAAAAAElFTkSuQmCC"
        />
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="disclaimer">
          <div class="content">
            <p>
              ©&nbsp;2018&nbsp;CheckFreeScore.com&nbsp;All Rights Reserved.
              <a href="javascript:popit(&#39;/privacy-policy.asp&#39;);"
                >Privacy Policy</a
              >
              |
              <a href="javascript:popit(&#39;/terms-of-service.asp&#39;);"
                >Terms of Service</a
              >
              |
              <a
                href="javascript:;"
                data-toggle="modal"
                data-target="#ContactUsModal"
                >Contact Us</a
              >
            </p>

            <p>
              Important Information: The credit score(s) you receive from us may
              not be the same scores used by lenders or other commercial users
              for credit decisions. There are various types of credit scores,
              and lenders may use a different type of credit score to make
              lending decisions than the ones being offered.
            </p>
            <p>
              Under federal law you have the right to receive a Credit Report
              from each of the three nationwide consumer reporting agencies once
              every 12 months. A Credit Score is not included.
            </p>
            <p>
              After verification of your identity, your scores are available for
              immediate online delivery securely. Scores shown are for
              illustrative purposes only.
            </p>

            <p class="new">
              CheckFreeScore.com provides you with the tools you need to access
              and monitor your financial profile through the program's credit
              reporting. CheckFreeScore.com and its benefit providers are not
              credit repair service providers and do not receive fees for such
              services, nor are they credit clinics, credit repair or credit
              services organizations or businesses. Credit information is
              provided either by Transunion® or TransUnion Interactive, Inc.
            </p>

            <p>
              All product and company names and trademarks mentioned herein are
              the property of their respective owners.
            </p>
          </div>

          <script>
            function popit(url) {
              /* _inc */
              window.open(
                url,
                "unrollme",
                "height=1000,width=900,directories=0,menubar=0,status=0,toolbar=0,scrollbars=1",
                false
              );
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/cfs-landing_files/jquery.min.js"></script>
<!-- <script src="./js/bootstrap.min.opt.js"></script> -->
<script src="assets/cfs-landing_files/bootstrap.min.js"></script>

<script src="assets/cfs-landing_files/jquery.validate.js"></script>
<script>
  $(window).on("load", function() {
    $.validator.addMethod(
      "regex",
      function(value, element, regexp) {
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
      },
      ""
    );

    $("form").validate({
      rules: {
        fs_firstname: {
          minlength: 2,
          maxlength: 50,
          required: true,
          regex: "^[A-z  \-']+$"
        },
        fs_lastname: {
          minlength: 2,
          maxlength: 50,
          required: true,
          regex: "^[A-z  \-']+$"
        },
        fs_email: {
          email: true,
          required: true,
          remote: {
            url: "../lp_domain_check.asp",
            type: "GET",
            data: {
              fs_email: function() {
                return $("#fs_email").val();
              }
            },
            dataFilter: function(response) {
              if (response > 0) {
                return false;
              } else {
                return true;
              }
            }
          }
        },
        fs_zip: {
          minlength: 5,
          maxlength: 5,
          required: true,
          remote: {
            url: "../lp_zipcode_check.asp",
            type: "GET",
            dataFilter: function(response) {
              return response == 1;
            }
          }
        }
      },
      highlight: function(element) {
        $(element).css("border", "1px solid #ff0000");
        //$(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
        $(element).css("border", "1px solid #ccc");
        //$(element).closest('.form-group').removeClass('has-error');
      },
      errorElement: "span",
      errorClass: "help-block",
      errorPlacement: function(error, element) {}
    });
  });

  function isNumberKey(e) {
    var unicode = e.charCode ? e.charCode : e.keyCode;
    if (unicode != 8 && unicode != 9) {
      //if the key isn't the backspace key,tab,ctrl
      if (unicode < 48 || unicode > 57)
        //if not a number
        return false; //disable key press

      return true;
    }
  }

  function isNotNumberKey(e) {
    var unicode = e.charCode ? e.charCode : e.keyCode;
    if (unicode != 8 && unicode != 9 && unicode != 118) {
      //if the key isn't the backspace key,tab,ctrl, or v (which we should allow)
      if (unicode > 47 && unicode < 58)
        //if is a number
        return false; //disable key press
    }
  }

  function moveNext() {
    $.ajax({
      url: "../../signup_errors_ajax.asp",
      type: "GET",
      data: {
        tGUID: "1CA31C23-729D-4F7F-ACF3-57D4DDE4C4E4",
        landing: 1,
        pageStep: 0,
        errors: 0
      },
      dataType: "text",
      cache: false,
      timeout: 10000,
      async: false,
      error: function(data, textStatus, errorThrown) {
        //alert('ajax error: ' + textStatus + ' :: ' + errorThrown)
        //do nothing
      },
      success: function(data) {
        if (data) {
          //alert('ajax response: ' + data);
          //do nothing
        }
      }
    });

    //fs_usr_SignupPage = 'index.asp?guid=example12345&tGUID=1CA31C23-729D-4F7F-ACF3-57D4DDE4C4E4';
    //url = '../../' + fs_usr_SignupPage;
    //document.location.href = url;
    document.forms[0].submit();
  }

  function popit(url) {
    window.open(
      url,
      "unrollme",
      "height=1000,width=900,directories=0,menubar=0,status=0,toolbar=0,scrollbars=1",
      false
    );
  }

  if ($(window).width() < 768) {
    $("form input").attr("placeholder", "");
  }
</script>

<!-- This is Credit funnel tracking -->
<!-- Google Analytics Tracking Script -->
<script type="text/javascript">
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", ",", "escore.com");
  ga("require", "displayfeatures");
  ga("send", "pageview");
</script>
<!-- End of Google Analytics Tracking Script -->

<!-- New Google Analyticts Tracking -->

<!--
  <script type="text/javascript">
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', '', 'escore.com');
  	ga('require', 'displayfeatures');
  	ga('send', 'pageview');
  </script>
-->

<!-- HEAT CODE START -->
<!--
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/0669.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
-->
<!-- HEAT CODE END -->

<!--
  Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup
-->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1003233244;
  var google_conversion_label = "ihE1CMzpuAMQ3L-w3gM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>

<script type="text/javascript" src="assets/cfs-landing_files/f(3).txt"></script
><iframe
  name="google_cookie_match_frame"
  title="Google cookie match frame"
  width="1"
  height="1"
  src="assets/cfs-landing_files/pixel.html"
  frameborder="0"
  marginwidth="0"
  marginheight="0"
  vspace="0"
  hspace="0"
  allowtransparency="true"
  style="display:none"
  scrolling="no"
></iframe>
<noscript>
  <div style="display:inline;">
    <img
      height="1"
      width="1"
      style="border-style:none;"
      alt
      src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1003233244/?value=0&amp;label=ihE1CMzpuAMQ3L-w3gM&amp;guid=ON&amp;script=0"
    />
  </div>
</noscript>

<script type="text/javascript">
  var Phone_Log_Ignore_Phone = "";
</script>

<script
  type="text/javascript"
  src="assets/cfs-landing_files/PhoneLog.js"
></script>
